<p id="notice"><%= notice %></p>

<p>
  <strong>Your name:</strong>
  <%= @person.your_name %>
</p>

<p>
  <strong>School's Name</strong>

  <tbody>
    <% @life_events.each do |life_event| %>
      <tr>
        <td><%= life_event.event_title %></td>
        <td><%= life_event.date %></td>
        <td><%= life_event.description %></td>
        <%end %>
      </tbody>

      <tbody>
        <% @schools.each do |school| %>
          <tr>
            <td><%= school.school_name %></td>
            <td><%= school.beginning_year %></td>
            <td><%= school.ending_year %></td>
          </tr>
        <% end %>
      </tbody>




<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
