<h1>Hey! Fill Out Some Forms! </h1>

<h2> Here are some recent ones: </h2>

<p>

  <p>
    <strong>Life Events: <br><br></strong>

    <tbody>
      <% @life_events.each do |life_event| %>
        <tr>
          <td><strong>Event Name:<br></strong></td>
          <td><%= life_event.event_title %><br></td>
          <td><strong>Event Date:</strong><br></td>
          <td><%= life_event.date %><br></td>
          <td><strong>Event Description:</strong><br></td>
          <td><%= life_event.description %><br></td>
          <%end %>
        </tbody>
  </p>


  <p>
    <strong> Schools <br><br></strong>
        <tbody>
          <% @schools.each do |school| %>
            <tr>
              <td><strong>School Name:<br></strong></td>
              <td><%= school.school_name %><br></td>
              <td><strong>School Start Date:<br></strong></td>
              <td><%= school.beginning_year %><br></td>
              <td><strong>School End Date:<br></strong></td>
              <td><%= school.ending_year %><br></td>
            </tr>
          <% end %>
        </tbody>
      </p>

</p>
